/*Global Styles*/
body {
    background-color: #EAD8C1;
    color: #363737;
}

img {
    display: block;
    margin: 0 auto;
    width: 85%;
border-radius: 10px;
}
a{
    color: #1F0062;
}

a:hover{
color: #0B78B3;
text-decoration: none;
}

h2 {
    text-align: center;
    padding: 10px;
    color: rebeccapurple;
}

h3 {
    text-align: center;
    padding: 10px;
    color: rebeccapurple;
}

nav {
    text-align: center;
    border-bottom: 2.5px solid #68150A;
}

nav ul{
    list-style-type: none;
    padding: 0%;

}

nav li{
display: inline-block;

}
section{
    width: 75%;
}
aside {
    width: 25%;
}
section img {
    border-radius: 10px;
    border:2px solid red;
    width: 95%;
}
aside img{
    border-radius: 10px;
    border:2px solid red;
    width: 85%;
}
footer {
    padding: 40px 0;
    text-align: center;

}
nav li a:hover {
    color: red;
    background-color: #0B78B3;
}
.multi_col{
    display: flex;

}

header{
text-align: center;
padding: 40px;
color:rebeccapurple;
border-bottom: 2.5px solid #68150A;
}
.img_style_rome{
    width: 85%;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px red;
     margin-top: 5px;
    margin-bottom: 5px;
}
.img_style_carthage{
    width: 85%;
    border: 2px solid #0B78B3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0B78B3;
    margin-top: 5px;
    margin-bottom: 5px;
}
#container_carthage {
    background-color: #FDFBD4;
    width: 90%;
    margin:7.5px auto;
    border: 6px solid darkblue;
    padding: 10px;
    border-radius:45px;
}
#container_rome {
    background-color: #FDFBD4;
    width: 90%;
    margin:7.5px auto;
    border: 6px solid red;
    padding: 10px;
    border-radius: 45px;
}
iframe {
       width: 85%;
    border: 2px solid #0B78B3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0B78B3;
    margin: 5px auto;
display: block;
}
nav li a{
    display: block;
    background-color: white;
    color: red;
height: 22%;
border-radius: 5px;
border: 2.5px solid #68150A;
width: 250px;
line-height: 150%;

}

section, aside{
    border-radius: 15px;
border: 4px solid darkblue;
margin:9px;
padding: 2%;
width: 90%;
}
/*mobile styles*/
@media (max-width: 767px){
    .multi_col{
    display: flex;
flex-direction: column;
}

nav li{
display: block;

}
nav li a{

width: 100%;

}

}

/* tables styles*/
@media (min-width: 768px){

img {
    display: block;
    margin: 0 auto;
    width: 85%;
border-radius: 200px;
}

}


/*desktop styles*/
@media (min-width: 1140px){
#container_carthage {
    background-color: #FDFBD4;
    width: 70%;
    margin: 7.5% auto;
    border: 6px solid darkblue;
    padding: 12%;
    border-radius:55px;
}
#container_rome {
    background-color: #FDFBD4;
    width: 70%;
    margin: 7.5% auto;
    border: 6px solid red;
    padding: 12%;
    border-radius: 55px;
}


}
